.example-container {
    min-height: 200px;
    overflow: auto;
}

table {
    width: 100%;
}

.example-space,
.example-form {
    flex: 1 1 auto;
}

.mat-button,
.mat-raised-button {
    background-color: #303F9F;
}

.action-pointer {
    cursor: pointer;
}