<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Buat SPMK</span>
            <button mat-icon-button [mat-dialog-close] aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <form name="spmkForm" [formGroup]="spmkForm" (ngSubmit)="onSubmit()">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Nomor Surat" formControlName="nosurat"
                        [formControl]="nosuratFormControl" [(ngModel)]="ModelSurat.pst_nosurat">
                    <mat-error *ngIf=nosuratFormControl.invalid>
                        Nomor surat tidak boleh kosong
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-select placeholder="Nama Pemborong" [(ngModel)]="ModelSurat.pst_idpemborong"
                        [formControl]="idpemborongFromControl" required>
                        <mat-option *ngFor=" let item of namaList" [value]="item.id_pemborong">{{item.nama}}
                        </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="idpemborongFromControl.invalid">
                        Nama Pemborong tidak boleh kosong
                    </mat-error> -->
                </mat-form-field>
            </div>

            <!-- <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Nama Pemborong" formControlName="nosurat"
                        [formControl]="nosuratFormControl" [(ngModel)]="ModelSurat.idPembeli">
                    <mat-error *ngIf=nosuratFormControl.invalid>
                        Nomor surat tidak boleh kosong
                    </mat-error>
                </mat-form-field>
            </div> -->

            <div class="kotak">
                <mat-card *ngFor="let item of syarat_bayar; let i =index">
                    <button mat-icon-button aria-label="Close dialog" (click)="removeItem(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-card-content>
                        <mat-card-subtitle>{{item.syarat_bayar}}</mat-card-subtitle>
                        <mat-card-subtitle>{{item.keterangan}}</mat-card-subtitle>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- addSkillButtonClick -->
            <div mat-dialog-actions class="m-0" fxLayout="row" fxLayoutAlign="space-between center">
                <a (click)="opDialog()" style="cursor: default">
                    Add another cara bayar +
                </a>
            </div>
            <!-- [disabled]="spmkForm.invalid" -->
            <div mat-dialog-actions class="m-0" fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-raised-button class="save-button mat-accent" type="submit" [mat-dialog-close]="ModelSurat"
                    (click)="showToaster()">Simpan</button>
            </div>
        </form>
    </div>
</div>

<!-- <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <form [formGroup]="smpkForm" novalidate (ngSubmit)="onSubmit()">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <div class="form-group" [ngClass]="{'has-error': ((smpkForm.get('nosurat').touched ||
                smpkForm.get('nosurat').dirty) &&
                smpkForm.get('nosurat').errors)}">
                    <input matInput placeholder="Nomor Surat" formControlName="nosurat"> -->
<!--display error message if name is not valid-->
<!-- <span class="help-block" *ngIf="((smpkForm.get('nosurat').touched ||
                    smpkForm.get('nosurat').dirty) &&
                    smpkForm.get('nosurat').errors)">
                        <span *ngIf="smpkForm.get('nosurat').errors.required">
                            First Name is Mandatory
                        </span>
                    </span>
                </div>
            </div>
            <div class="margin-20">
                <a (click)="addcarabayars()" style="cursor: default">
                    Add another cara bayar +
                </a>
            </div> -->