<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Buat SPMK</span>
            <button mat-icon-button [mat-dialog-close] aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <form name="spmkForm" [formGroup]="spmkForm" (ngSubmit)="onSubmit()">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Nomor Surat" formControlName="nosurat"
                        [formControl]="nosuratFormControl" [(ngModel)]="ModelSurat.pst_nosurat">
                    <mat-error *ngIf=nosuratFormControl.invalid>
                        Nomor surat tidak boleh kosong
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-select placeholder="Pilih Pemborong" [(ngModel)]="ModelSurat.pst_idpemborong"
                        [formControl]="idpemborongFromControl" required>
                        <mat-option *ngFor=" let item of namaList" [value]="item.id_pemborong">{{item.nama}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="idpemborongFromControl.invalid">
                        Nama Pemborong tidak boleh kosong
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>

                    <!-- <mat-form-field>
                        <input matInput [matDatepicker]="dp3" placeholder="Input disabled" disabled>
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    </mat-form-field> -->

                    <input matInput placeholder="Tanggal Surat" [(ngModel)]="ModelSurat.pst_tglsurat"
                        [formControl]="tglSuratFromControl" [matDatepicker]="dp3" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    <mat-error *ngIf="tglSuratFromControl.invalid">
                        Tanggal Surat Tidak Boleh Kosong
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <textarea matInput placeholder="Detail Pekerjaan" [(ngModel)]="ModelSurat.pst_pekerjaan"
                        [formControl]="pekerjaanFromControl" required>
                    </textarea>
                    <mat-error *ngIf="pekerjaanFromControl.invalid">
                        Detail Pekerjaan Tidak Boleh Kosong
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <textarea matInput placeholder="Lokasi Proyek" [(ngModel)]="ModelSurat.pst_proyek"
                        [formControl]="proyekFromControl" required>
                    </textarea>
                    <mat-error *ngIf="idpemborongFromControl.invalid">
                        Lokasi Proyek Tidak Boleh Kosong
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Total Nilai Borongan" [(ngModel)]="ModelSurat.pst_nilai"
                        [formControl]="totalnilaiFromControl" required>
                    <mat-error *ngIf="totalnilaiFromControl.invalid">
                        Total Nilai Borongan Tidak Boleh Kosong
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Waktu Pelaksanaan" [(ngModel)]="ModelSurat.pst_pelaksanaan"
                        [formControl]="waktuPelaksanaanFromControl" required>
                    <mat-error *ngIf="waktuPelaksanaanFromControl.invalid">
                        Waktu Pelaksanaan Tidak Boleh Kosong
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Tanggal Awal Pekerjaan" [(ngModel)]="ModelSurat.pst_awlpekerjaan"
                        [formControl]="awalPekerjaanFromControl" [matDatepicker]="dp4" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                    <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                    <mat-error *ngIf="awalPekerjaanFromControl.invalid">
                        Tanggal Awal Kerja Tidak Boleh kosong
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Tanggal Akhir Pekerjaan" [(ngModel)]="ModelSurat.pst_akhirpekerjaan"
                        [formControl]="akhirPekerjaanFromControl" [matDatepicker]="dp5" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="dp5"></mat-datepicker-toggle>
                    <mat-datepicker #dp5 disabled="false"></mat-datepicker>
                    <mat-error *ngIf="akhirPekerjaanFromControl.invalid">
                        Tanggal Akhir Kerja Tidak Boleh kosong
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-card class="jarak" *ngFor="let item of syarat_bayar; let i =index">
                <button mat-icon-button class="topleft" aria-label="Close dialog" (click)="removeItem(i)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-card-content>
                    <mat-hint class="teks">Syarat Pembayaran</mat-hint>
                    <mat-card-subtitle>{{item.syarat_bayar}}</mat-card-subtitle>
                    <mat-hint class="teks2">Keterangan</mat-hint>
                    <mat-card-subtitle>{{item.keterangan}}</mat-card-subtitle>
                </mat-card-content>
            </mat-card>

            <!-- addSkillButtonClick -->
            <div mat-dialog-actions class="m-0" fxLayout="row" fxLayoutAlign="space-between center">
                <a (click)="opDialog()" style="cursor: default">
                    Tambah cara bayar +
                </a>
            </div>
            <!-- [disabled]="spmkForm.invalid" [mat-dialog-close]  -->
            <div mat-dialog-actions class="m-0" fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-raised-button class="save-button mat-accent" type="submit" [disabled]="spmkForm.invalid"
                    [mat-dialog-close] (click)="showToaster()">Simpan</button>
            </div>
        </form>
    </div>
</div>

<!-- <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <form [formGroup]="smpkForm" novalidate (ngSubmit)="onSubmit()">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <div class="form-group" [ngClass]="{'has-error': ((smpkForm.get('nosurat').touched ||
                smpkForm.get('nosurat').dirty) &&
                smpkForm.get('nosurat').errors)}">
                    <input matInput placeholder="Nomor Surat" formControlName="nosurat"> -->
<!--display error message if name is not valid-->
<!-- <span class="help-block" *ngIf="((smpkForm.get('nosurat').touched ||
                    smpkForm.get('nosurat').dirty) &&
                    smpkForm.get('nosurat').errors)">
                        <span *ngIf="smpkForm.get('nosurat').errors.required">
                            First Name is Mandatory
                        </span>
                    </span>
                </div>
            </div>
            <div class="margin-20">
                <a (click)="addcarabayars()" style="cursor: default">
                    Add another cara bayar +
                </a>
            </div> -->