<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Buat Transaksi</span>
            <button mat-icon-button [mat-dialog-close] aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <form name="spprForm" [formGroup]="spprForm">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-select placeholder="Nama Pembeli" [(ngModel)]="ModelSppr.idPembeli"
                        [formControl]="idpembeliFormControl" required>
                        <mat-option *ngFor=" let item of namaList" [value]="item.id_pembeli">{{item.nama}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="idpembeliFormControl.invalid">
                        {{getRequiredErrorMessage('idpembeliGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-select placeholder="Tipe Bangunan" [(ngModel)]="ModelSppr.tipe" [formControl]="tipeFormControl"
                        required>
                        <mat-option *ngFor=" let tipe of namaTipe" [value]="tipe.id_tipe">
                            {{tipe.jenis_tipe}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tipeFormControl.invalid">
                        {{getRequiredErrorMessage('tipeGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Harga Jual" [(ngModel)]="ModelSppr.hargaJual"
                        [formControl]="hrgajualFormControl">
                    <mat-error *ngIf="hrgajualFormControl.invalid">
                        {{getRequiredErrorMessage('hrgajualGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Kelebihan Tanah" [(ngModel)]="ModelSppr.tanah"
                        [formControl]="kelebihantanahFormControl">
                    <mat-error *ngIf="kelebihantanahFormControl.invalid">
                        {{getRequiredErrorMessage('kelebihantanahGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Kelebihan Pagar" [(ngModel)]="ModelSppr.pagar"
                        [formControl]="kelebihanpagarFormControl">
                    <mat-error *ngIf="kelebihanpagarFormControl.invalid">
                        {{getRequiredErrorMessage('kelebihanpagarGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Pekerjaan Tambahan" [(ngModel)]="ModelSppr.pekerjaan"
                        [formControl]="pekerjaantambahanFormControl">
                    <mat-error *ngIf="pekerjaantambahanFormControl.invalid">
                        {{getRequiredErrorMessage('pekerjaantambahanGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Potongan Harga" [(ngModel)]="ModelSppr.potongan"
                        [formControl]="potonganhargaFormControl">
                    <mat-error *ngIf="potonganhargaFormControl.invalid">
                        {{getRequiredErrorMessage('potonganhargaGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Booking Fee" [(ngModel)]="ModelSppr.bookFee"
                        [formControl]="bookingFormControl">
                    <mat-error *ngIf="bookingFormControl.invalid">
                        {{getRequiredErrorMessage('bookingGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Uang Muka / Dp" [(ngModel)]="ModelSppr.dp"
                        [formControl]="dpFormControl">
                    <mat-error *ngIf="dpFormControl.invalid">
                        {{getRequiredErrorMessage('dpGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div mat-dialog-actions class="m-0" fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-raised-button class="save-button mat-accent" aria-label="SAVE" [disabled]="spprForm.invalid"
                    [mat-dialog-close]="ModelSppr" (click)="showToaster()">Simpan</button>
            </div>
        </form>
    </div>
</div>


<!-- <mat-toolbar>
    <mat-toolbar-row id="header">
        <h1 mat-dialog-title>Tambah Data</h1>
    </mat-toolbar-row>
</mat-toolbar>

<div class="flex-kiri">
    <mat-form-field class="example-full-width">
        <mat-select placeholder="Nama Pembeli" [(ngModel)]="ModelSppr.idPembeli">
            <mat-option *ngFor=" let item of namaList" [value]="item.id_pembeli" name="nama_pembeli">
                {{item.nama}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Tipe Bangunan" [(ngModel)]="ModelSppr.tipe">
            <mat-option *ngFor=" let tipe of namaTipe" [value]="tipe.id_tipe" name="jenis_tipe">
                {{tipe.jenis_tipe}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.hargaJual" matInput placeholder="Harga Jual">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.tanah" matInput placeholder="Kelebihan Tanah">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.pagar" matInput placeholder="Kelebihan Pagar">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.pekerjaan" matInput placeholder="Pekerjaan Tambahan">
    </mat-form-field>


</div>

<div class="flex-kanan">
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.potongan" matInput placeholder="Potongan Harga">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.bookFee" matInput placeholder="Booking Fee">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.dp" matInput placeholder="Uang Muka / Dp">
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button class="biru" [mat-dialog-close]="ModelSppr" cdkFocusInitial>Simpan</button>
        <button mat-button class="merah" [mat-dialog-close]>Batal</button>
    </div>
</div>

<mat-toolbar>
    <div mat-dialog-actions>
        <button mat-button class="biru" [mat-dialog-close] cdkFocusInitial>Simpan</button>
        <button mat-button class="merah" [mat-dialog-close]>Batal</button>
    </div>
</mat-toolbar> -->