<mat-toolbar>
    <mat-toolbar-row id="header">
        <h1 mat-dialog-title>Tambah Data</h1>
    </mat-toolbar-row>
</mat-toolbar>

<div class="flex-kiri">
    <mat-form-field class="example-full-width">
        <mat-select placeholder="Nama Pembeli" [(ngModel)]="ModelSppr.idPembeli">
            <mat-option *ngFor=" let item of namaList" [value]="item.id_pembeli" name="nama_pembeli">
                {{item.nama}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Tipe Bangunan" [(ngModel)]="ModelSppr.tipe">
            <mat-option *ngFor=" let tipe of namaTipe" [value]="tipe.id_tipe" name="jenis_tipe">
                {{tipe.jenis_tipe}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.hargaJual" matInput placeholder="Harga Jual">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.tanah" matInput placeholder="Kelebihan Tanah">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.pagar" matInput placeholder="Kelebihan Pagar">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.pekerjaan" matInput placeholder="Pekerjaan Tambahan">
    </mat-form-field>


</div>

<div class="flex-kanan">
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.potongan" matInput placeholder="Potongan Harga">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.bookFee" matInput placeholder="Booking Fee">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="ModelSppr.dp" matInput placeholder="Uang Muka / Dp">
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button class="biru" [mat-dialog-close]="ModelSppr" cdkFocusInitial>Simpan</button>
        <button mat-button class="merah" [mat-dialog-close]>Batal</button>
    </div>
</div>

<!-- <mat-toolbar>
    <div mat-dialog-actions>
        <button mat-button class="biru" [mat-dialog-close] cdkFocusInitial>Simpan</button>
        <button mat-button class="merah" [mat-dialog-close]>Batal</button>
    </div>
</mat-toolbar> -->