.panjang {
    width: 300px;
}

.example-space {
    flex: 1 1 auto;
}

.example-container {
    min-height: 200px;
    overflow: auto;
}

hr.new4 {
    border: 1px solid #303F9F;
}

.mat-button,
.mat-raised-button,
.biru {
    background-color: #303F9F;
    color: white;
}

.merah {
    background-color: red;
    color: white;
}