<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Buat Transaksi</span>
            <button mat-icon-button [mat-dialog-close] aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>


    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="transaksiFrom" [formGroup]="transaksiFrom">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-select placeholder="Nama Pembeli" [(ngModel)]="ModelTransaksi.idPembeli"
                        [formControl]="namaPembeliFormControl" required>
                        <mat-option *ngFor=" let item of namaList" [value]="item.id_pembeli">{{item.nama}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="namaPembeliFormControl.invalid">
                        {{getRequiredErrorMessage('namaPembeliGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>


            <!-- <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Id SPPR" required [(ngModel)]="ModelTransaksi.idSppr"
                        [formControl]="transaksiFormControl">
                    <mat-error *ngIf="transaksiFormControl.invalid">
                        {{getRequiredErrorMessage('transaksiGroup')}}
                    </mat-error>
                </mat-form-field>
            </div> -->

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-select placeholder="Id SPPR" [(ngModel)]="ModelTransaksi.idSppr"
                        [formControl]="transaksiFormControl" required>
                        <mat-option *ngFor=" let item of namaList" [value]="item.id_sppr">{{item.id_sppr}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="transaksiFormControl.invalid">
                        {{getRequiredErrorMessage('transaksiGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Nomor" required [(ngModel)]="ModelTransaksi.nomor"
                        [formControl]="noFormControl">
                    <mat-error *ngIf="noFormControl.invalid">
                        {{getRequiredErrorMessage('noGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Tgl Jatuh Tempo" required [(ngModel)]="ModelTransaksi.tglTempo"
                        [formControl]="tglTempoFormControl">
                    <mat-error *ngIf="tglTempoFormControl.invalid">
                        {{getRequiredErrorMessage('tglGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Keterangan" required [(ngModel)]="ModelTransaksi.keterangan"
                        [formControl]="ketFormControl">
                    <mat-error *ngIf="ketFormControl.invalid">
                        {{getRequiredErrorMessage('ketGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Jumlah" required [(ngModel)]="ModelTransaksi.jlh"
                        [formControl]="jumlahFormControl">
                    <mat-error *ngIf="jumlahFormControl.invalid">
                        {{getRequiredErrorMessage('jumlahGroup')}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div mat-dialog-actions class="m-0" fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-raised-button class="save-button mat-accent" aria-label="SAVE"
                    [disabled]="transaksiFrom.invalid" [mat-dialog-close]="ModelTransaksi"
                    (click)="showToaster()">Simpan</button>
            </div>
        </form>
    </div>
</div>