<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    archive
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Data Pembeli
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row"
                fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                    <input id="search" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <button mat-raised-button class="add-product-button mat-white-bg my-12 mt-sm-0" (click)="dialogSave()">
                <span>Tambah Pembeli</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="transaksi-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="nama">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nama Lengkap</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.nama}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Image Column -->
                <ng-container matColumnDef="ktp">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>NIK </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.ktp}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="alamat_rumah">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Alamat Rumah</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.alamat_rumah}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="pekerjaan">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Pekerjaan</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate"> {{element.pekerjaan}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="alamat_kantor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Alamat Kantor</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">
                            {{element.alamat_kantor}}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns;" class="product" matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>